<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand row" href="#">
      <img src="../assets/images/logo7.png" alt="" max-width="100" max-height="100" class="d-inline-block align-text-top col-md-6 ms-2">
      <hr class="ms-3" style="height:5px;border-width:0;background-color:black">
    </a>
  </div>
</nav>
<div id="carouselExampleControls" class="carousel slide px-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/Carousel/Slide-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/Carousel/Slide-2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid my-5">
  <div class="row">

    <!-- About Us Card -->
    <div class="col-md-4 mb-3 me-3 ms-md-5">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h4 class="card-title">About Us</h4>
          <hr>
          <p class="card-text px-2">The Centre for Cauvery River Basin Management and Studies (cCauvery), a brain trust dedicated to river science and river basin management, was established in 2024 by IISc Bengaluru and NIT Tiruchirappalli under the supervision of cGanga at IIT Kanpur. Serving as a knowledge wing of the National River Conservation Directorate (NRCD), cCauvery plays a crucial role in the conservation, rejuvenation, and management of the Cauvery River basin. It provides expert guidance to both central and state governments in India on sustainable water use, pollution control, ecosystem restoration, and conflict resolution between states. The centre is heavily involved in research, policy development, and stakeholder collaboration to ensure the long-term health and vitality of the Cauvery River system.
          </p>
        </div>
      </div>
    </div>

    <!-- Activities Card with Carousel -->
    <div class="col-md-4 mb-3 me-3">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h4 class="card-title">Activities</h4>
          <hr>
          <div id="activitiesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <!-- Slide 1 -->
              <div class="carousel-item active">
                <img src="../assets/images/Activities/1st_JRC-Meeting.jpg" class="d-block w-100" alt="Activity Image">
                <div class="mt-3">
                  <p class="card-text mb-1">
                    <small class="text-muted"><i class="far fa-calendar-alt"></i> May 16, 2024</small>
                  </p>
                  <h6>First JRC Meeting for cCauvery</h6>
                </div>
              </div>
              <!-- Slide 2 -->
              <div class="carousel-item">
                <img src="../assets/images/Activities/Inaguration_cCauvery.jpg" class="d-block w-100" alt="Activity Image">
                <div class="mt-3">
                  <p class="card-text mb-1">
                    <small class="text-muted"><i class="far fa-calendar-alt"></i> July 25, 2024</small>
                  </p>
                  <h6>Inauguration Ceremony of cCauvery</h6>
                </div>
              </div>
              <!-- Slide 3 -->
              <div class="carousel-item">
                <img src="../assets/images/Activities/TownHall_Meeting.jpg" class="d-block w-100" alt="Activity Image">
                <div class="mt-3">
                  <p class="card-text mb-1">
                    <small class="text-muted"><i class="far fa-calendar-alt"></i> July 25, 2024</small>
                  </p>
                  <h6>Town hall meeting for cCauvery</h6>
                </div>
              </div>
            </div>
            <!-- Carousel Pagination Dots -->
            <div class="carousel-indicators mb-2">
              <button type="button" data-bs-target="#activitiesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#activitiesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#activitiesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Data Availability Card -->
    <div class="col-md-3 mb-3">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h4 class="card-title">Data Repository</h4>
          <hr>
          <p class="card-text px-2">Explore a comprehensive collection of data relevant to the cCauvery project, covering various aspects such as hydrology, water quality, and climate information. Access and utilize this data for informed research and decision-making.</p>
          <a href="#" class="btn btn-primary mt-4 col-md-5 float-end">Login</a>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="py-4">
  <hr style="height:10px;border-width:0;background-color:black">
  <div class="container-fluid">
    <div class="row text-md-left">
      <div class="col-md-4 mb-3 me-5 order-md-2">
        <img src="../assets/images/logo6.png" alt="cGanga Logo" class="img-fluid mb-2">
      </div>
      <div class="col-md-4 mb-3 ms-md-5 order-md-1">
        <h5>Centre for Cauvery River Basin Management and Studies (cCauvery)</h5>
        <p>
          Ground Floor, Interdisciplinary Centre for Water Research <br>
          Indian Institute of Science, Bengaluru – 560012, INDIA.
        </p>
      </div>
      <div class="col-md-3 mb-3 order-md-3">
        <h5>Contact Us</h5>
        <p>
          Phone number: 080 2293 2740<br>
          E-mail: <a href="mailto:chair.icwar@iisc.ac.in">chair.icwar&#64;iisc.ac.in</a>
        </p>
        <p>&copy; 2024-25 All rights reserved</p>
      </div>
    </div>
  </div>
</footer>



<router-outlet />
